@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap'); 

*, *::before, *::after{
   box-sizing: border-box; 
} 

html{
    height: 100%;
    font-family: 'Monda', sans-serif;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

input, 
button{
    appearance: none;
    border-style: none;
    font-family: inherit;
}

input{
    background-color: rgb(223, 219, 219);
    height: 25px;
    padding: 10px 5px;
    font-size: 1.2rem;
}

label{
    font-size: 1.3rem;
}

button{
    background-color: rgb(223, 219, 219);
    border-radius: 7px;
}

button:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.header-bar{
    font-size: 2.5rem;
    text-align: center;
    height: 60px;
    border-bottom: 1px solid black;
}

.main-content{
    height: 100%; /*So justify-content will work*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-menu{
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.start-button{
    margin-top: 10px;
    place-self: center;
    width: 150px;
    font-size: 1.3rem;
}


.game-details{
    display: none;
}

.scoreboard{
    width: 500px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.playerX-wins{
    margin-top: 10px;
}

p{
    text-align: center;
    margin: 0;
}

.scoreboard p{
    border-bottom: 1px solid black;
}

.game-status{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.gameboard{
    visibility: hidden;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

[class*="row"]{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

[class*="cell"]{
    margin-left: -1px;
    margin-bottom: -1px;
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 4.8em;
    text-align: center;
}

[class*="cell"]:hover{
    cursor: pointer;
    filter: brightness(85%);
}

[class*="cell"]:active{
    transform: scale(.95);
}

.restart-button{
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 5px 20px;
    display: none;
}

/*So user cant click cells after round ends*/
.noClick {
    pointer-events: none;
}



